---
import { PROFILE } from "../../content/profileDataES";
import { shuffleArray } from "../../lib/utils";
import { Badge } from '../ui/badge';
import { Button } from '../ui/button';

shuffleArray(PROFILE.studies)
---

<div class="mt-2 space-y-4">
  <div class="flex w-full flex-wrap items-center justify-center gap-2">
    {
      PROFILE.studies.map((study) => (
        <>
          <Badge variant="outline">{study.title} {study.institution && `- ${study.institution}`}</Badge>
        </>
      ))
    }
  </div>
  <a href="/es/education">
    <Button variant="link" className="pl-0">Ver Más</Button>
  </a>
</div>

